
.about h1 {
    color: rgb(202, 133, 84);
    font-family: "Playfair Display",serif;
    text-align: center;
    font-size: 50px;
     padding-top: 55px;
    background-color:rgb(207, 202, 198);
    height: 250px;
}


.thrilled img {
    height: 500px;
    width: 100%;
    margin-top: 80px;
    
    
}

.thrilled h4 {
    margin-top: 150px;
    margin-left: 100px;
}
.thrilled p {
    margin-top: 40px;
    margin-left: 100px;
    max-width: 500px;
}
.thrilled{
    color: rgb(202, 133, 84);   

}

.thrilled h6 {
    margin-left:100px;
    margin-top: 80px;
    color: rgb(195, 142, 104);
    font-weight: 400;
}