<div class="about">
  <h1>Hi, I'm <br>
    Tati Uribe</h1>

</div>

<div class="container">
  <div class="row thrilled">
    <div class="col-lg-7">
      <h4>I'm thrilled you're here.</h4>
      <p>
        I am Tatiana Uribe Montoya, but you can call me Tati Uribe. I was born and still live in Medellín, Colombia and
        I am 26 years old. In 2013 I came up with the idea of ​​starting a blog as a hobby, and not long after I started
        a YouTube channel. It was the best decision I could have made.
      </p>
      <p>
        I am a Social Communicator and Journalist with an emphasis on Digital Marketing. I am dedicated to mentoring
        entrepreneurs: I create and organize courses and lectures. I love to undertake and support entrepreneurs!</p>

      <h6>Yours truly, <br>
        Tati Uribe</h6>
    </div>
    <div class="col-lg-4">
      <img src="assets/Pantalla-a-la-about img.avif" alt="">
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>
