
<section>
<div class="container">

    <h2>Courses and workshops</h2>
    <div class="row courses">
        <div class="col-lg-1"></div>
        <div class="col-lg-3">
            <img src="assets/img-course -1.avif" alt="">
            <h4>Instagram Course</h4>
            <button type="button" class="btn" routerLink="/conference">I'M INTERESTED</button>
        </div>
        <div class="col-lg-4">
            <img src="assets/img-courses -2.avif" alt="">
            <h4>Personal Branding Course</h4>
            <button type="button" class="btn">I WANT TO BUILD A BRAND</button>

        </div>
        <div class="col-lg-3">
        <img src="assets/img-courses-3.avif" alt="">
        <h4>Productivity Course</h4>
        <button type="button" class="btn" disabled>I WANT TO BE PRODUCTIVE</button>

        </div>
        <div class="col-lg-1"></div>


    </div>
</div>
</section>