
.container h2 {
    text-align: center;
    color: rgb(202, 133, 84);
    padding-top: 80px;

}
.courses img {
    width: 100%;
    margin-top: 50px;
}
.courses h4 {
    color: rgb(202, 133, 84);
   text-align: center;
   margin-top: 20px; 
    
}

section{
    background-color: #f7f2f0;
    height: 700px;
    margin-top: 100px;
}

.courses button{
    color: #f7f2f0;
    background-color: rgb(255, 135, 110);
    border-radius: 20px;
    margin-top: 25px;
    margin-left: 4.5em;
    font-size: 13px;
    padding:10px 20px ;

}