

<form action="/action_page.php">
  <img src="../../assets/icon-orange-png__1_-removebg-preview.png" alt="">

  <div class="form-group">
    <label for="email">Full Name:</label>
    <input type="text" class="form-control" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" placeholder="Enter Name" id="email">
  </div>
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" [(ngModel)]="email" [ngModelOptions]="{standalone: true}"  placeholder="Enter email" id="email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"> 
    </div>

    <button type="submit"  class="btn log-btn" (click)="login();">Login</button> 
    
    <div class="checkbox">

      <label><input type="checkbox"> Remember me</label>
    </div>
   

   <div class="bottom" >
    <button type="button" class="btn btn-danger cancel" >Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
  </form>




  <table>
    <thead>
    <tr>
    <th>Full Name</th>
    <th>Email</th>
    <th>Password</th>
    <tr>
    </thead>

      <tbody *ngFor="let data of loginform">
        <tr>
          <td >{{data.name}}</td>
          <td>{{data.email}}</td>
          <td>{{data.password}}</td>

        </tr>
      </tbody>

  </table>