


form {
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 25em;
    // box-sizing: border-box;
    border: 3px solid #f1f1f1;
    width: 700px;
    padding: 20px 20px;
    box-shadow: rgb(100,100, 111, 0.4) 0px 7px 29px 0px;
    background-color: #f7f2f0;

    
     
}

form .form-group input {
     width: 40em;
    box-shadow: none;
    border: 1px solid rgb(255, 135, 110);


}

form ::placeholder{
    color:rgb(255, 135, 110) ;
}

form label {
    font-weight: bold;
    font-size: 17px;
    color: rgb(202, 133, 84);

}

form .log-btn{
    width: 40em;
    color: #f1f1f1;
    margin-top: 15px;
    background-color: rgb(255, 135, 110);

}

form .log-btn:hover{
   background-color: gray;
 color: black;
 border: none;
}


form img {
    border-radius: 50%;
    width: 250px;
    margin-left: 13em;
}

.bottom  span {
    float: right;
}

.cancel {
    background-color: #f44336;
    padding: 10px 18px;
    
}

.bottom{
    // background-color: rgb(240, 236, 221);

    padding: 25px;
}



table{
    margin-top: 80px;
    margin-left: 25em;
    margin-bottom: 100px;
    // table-layout: fixed;
    // border-collapse:collapse;
    // width: 1000px;

}
 th {
    
    border: 1px solid #dddddd;
    // text-align: left;
    padding: 20px 90px;
  
   
 }
  
  td{
    word-wrap: break-word;
    border: 1px solid #dddddd;
    

  }