
nav img {
    margin-left: 140px;
    height: 100px;
}
nav .navbar-nav .nav-link{
    color: rgb(222, 153, 104);
    margin-right: 80px;
}

nav .navbar-nav .active{
    color: black;
    text-decoration: underline;
    
}

nav {
    box-shadow: 0px 10px 5px rgb(205, 198, 198);
}

.abc {
    pointer-events: none;
}