
section{
    background-color: rgb(240, 236, 221);
}
form input {
    border: none;
}

form textarea {
    border: none;
}
form {
    margin-top: 50px;
    margin-bottom: 100px;
}

.content  {
  color: rgb(202, 133, 84);
  margin-top: 100px;
  margin-left: 70px;
}

.content  p {
    margin-top: 50px;
}

section button{
    background-color:  rgb(255, 135, 110);
    color: white;
    padding: 10px 30px;
    border-radius: 25px;

}

.center {
    text-align: center;

}
.content i {
    font-size: 20px;
    margin-top: 35px;
    padding: 8px;
}