
<section>
<div class="container">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-5">
            <form>
                <div class="mb-3">
                  <label for="exampleInputname" class="form-label">First Name*</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter your Name" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="exampleInputname" class="form-label">Last Name</label>
                  <input type="text" class="form-control" placeholder="Enter your last name" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Your Email*</label>
                    <input type="email" class="form-control" placeholder="Enter your email here" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Your message*</label>
                    <textarea type="Message" class="form-control" id="Msg" rows ="4"> </textarea>
                    
                </div>
                <div class="center">
                <button type="submit" class="btn " routerLink="/login">Send</button>
            </div>
              </form>
        </div>
        <div class="col-lg-5">
            <div class="content">
            <h1>Let's talk</h1>
            <p>Listening to your feedback and reading your comments makes me very happy. Contact me if you have any questions, comments, information, or to request a quote. I will get back to you shortly. Remember that you can also follow me on my social networks or write to my email: hola@tatiuribe.com</p>
          

          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-youtube"></i>
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-tiktok"></i>

        </div>
        </div>

        <div class="col-lg-1"></div>


    
</div>
</div>
</section>